.master-builder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  .builder-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    padding: 0.5em 1em;
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    .builder-container__title-component {
      grid-area: 1 / 1 / 2 / 2;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-weight: bolder;
      border-bottom: 2px gray solid;
    }
    .builder-container__title-selection {
      grid-area: 1 / 2 / 2 / 3;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-weight: bolder;
      border-bottom: 2px gray solid;
    }
    .builder-container__title-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .builder-container__selection {
      display: flex;
      justify-content: center;
      align-items: center;
      .selection-button {
        border-radius: 0;
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(11px);
        -webkit-backdrop-filter: blur(11px);
        border: 0;
        transition: background 0.05s;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
        &:active {
          background: rgba(255, 255, 255, 0.05);
        }
        width: 50%;
        height: 50%;
        .selection-button__span {
          text-decoration: none;
          color: #ffffff;
          padding: 0.5em;
        }
      }
      .selection-button__selected {
        border-radius: 0;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(11px);
        -webkit-backdrop-filter: blur(11px);
        border: 0;
        transition: background 0.05s;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
        &:active {
          background: rgba(255, 255, 255, 0.05);
        }
        width: 70%;
        height: 50%;
        .selection {
          text-decoration: none;
          color: #ffffff;
          padding: 0.5em;
        }
      }
    }
  }
}
