.login-form-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  .inner-form-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    padding: 1em;
    display: grid;
    outline: 1px rgba(255, 255, 255, 0.37) solid;
    input {
      margin: 0.5em;
      padding: 1em;
    }
    #username,
    #password {
      border-radius: 0;
      background: rgba(255, 255, 255, 0.15);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(11px);
      -webkit-backdrop-filter: blur(11px);
      border: 0;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bolder;
      &::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
      &:focus {
        animation: border-pulsate 2s infinite;
        outline: 1px red solid;
        border-radius: 0.2em;
      }
      @keyframes border-pulsate {
        0% {
          outline: 1px #ffffff solid;
        }
        50% {
          outline: 1px #00ffff00 solid;
        }
        100% {
          outline: 1px #ffffff solid;
        }
      }
    }
    #login {
      border-radius: 0;
      background: rgba(255, 255, 255, 0.15);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(11px);
      -webkit-backdrop-filter: blur(11px);
      border: 0;
      transition: background 0.05s;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: bolder;
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
      &:active {
        background: rgba(255, 255, 255, 0.05);
      }
    }
  }
}
