#navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: #56565633;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 3em;
}
