.select-container {
  height: 80vh;
  display: flex;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  padding: 1em;
  outline: 1px rgba(255, 255, 255, 0.37) solid;
  margin: 2em;

  .select-container__search {
    height: 10%;
    margin-right: 2em;
    border: 1px solid white;
    border-radius: 0.5em;
    background: rgba(255, 255, 255, 0.554);
    color: black;
  }

  .select-container__items-list {
    .item-title {
      margin: 0.5em;
      color: rgb(194, 194, 194);
    }
    .select-container__item-submit {
      margin: 0.5em;
    }
  }
}
