.title {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  padding: 0.5em 1em;
  display: flex;
  justify-content: center;
  span {
    font-size: 2rem;
    font-weight: bolder;
  }
}
