@use "./layouts/background";
@use "./layouts/builder";
@use "./layouts/home-page";
@use "./layouts/navigation";
@use "./layouts/title";
@use "./layouts/form";
@use "./layouts/loading";
@use "./layouts/selection";

@use "./components/nav-buttons";
@use "./components/title-container";
@use "./components/bold-text";
@use "./components/insert-status";
@use "./components/auth-user";
@use "./components/admin-menu";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  color-scheme: light;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
