@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
#root {
  background-image: url("../../../public/background.svg");
  height: 100vh;
  background-size: cover;
  background-repeat: repeat;
}

.master-builder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.master-builder-container .builder-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  padding: 0.5em 1em;
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.master-builder-container .builder-container .builder-container__title-component {
  grid-area: 1/1/2/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bolder;
  border-bottom: 2px gray solid;
}
.master-builder-container .builder-container .builder-container__title-selection {
  grid-area: 1/2/2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bolder;
  border-bottom: 2px gray solid;
}
.master-builder-container .builder-container .builder-container__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.master-builder-container .builder-container .builder-container__selection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.master-builder-container .builder-container .builder-container__selection .selection-button {
  border-radius: 0;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 0;
  transition: background 0.05s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50%;
  height: 50%;
}
.master-builder-container .builder-container .builder-container__selection .selection-button:hover {
  background: rgba(255, 255, 255, 0.1);
}
.master-builder-container .builder-container .builder-container__selection .selection-button:active {
  background: rgba(255, 255, 255, 0.05);
}
.master-builder-container .builder-container .builder-container__selection .selection-button .selection-button__span {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5em;
}
.master-builder-container .builder-container .builder-container__selection .selection-button__selected {
  border-radius: 0;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 0;
  transition: background 0.05s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 70%;
  height: 50%;
}
.master-builder-container .builder-container .builder-container__selection .selection-button__selected:hover {
  background: rgba(255, 255, 255, 0.1);
}
.master-builder-container .builder-container .builder-container__selection .selection-button__selected:active {
  background: rgba(255, 255, 255, 0.05);
}
.master-builder-container .builder-container .builder-container__selection .selection-button__selected .selection {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5em;
}

#home-page {
  height: 90vh;
}

#navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: rgba(86, 86, 86, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 3em;
}

.title {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  padding: 0.5em 1em;
  display: flex;
  justify-content: center;
}
.title span {
  font-size: 2rem;
  font-weight: bolder;
}

.login-form-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.login-form-container .inner-form-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  padding: 1em;
  display: grid;
  outline: 1px rgba(255, 255, 255, 0.37) solid;
}
.login-form-container .inner-form-container input {
  margin: 0.5em;
  padding: 1em;
}
.login-form-container .inner-form-container #username,
.login-form-container .inner-form-container #password {
  border-radius: 0;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.login-form-container .inner-form-container #username::-moz-placeholder, .login-form-container .inner-form-container #password::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.login-form-container .inner-form-container #username::placeholder,
.login-form-container .inner-form-container #password::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.login-form-container .inner-form-container #username:focus,
.login-form-container .inner-form-container #password:focus {
  animation: border-pulsate 2s infinite;
  outline: 1px red solid;
  border-radius: 0.2em;
}
@keyframes border-pulsate {
  0% {
    outline: 1px #ffffff solid;
  }
  50% {
    outline: 1px rgba(0, 255, 255, 0) solid;
  }
  100% {
    outline: 1px #ffffff solid;
  }
}
.login-form-container .inner-form-container #login {
  border-radius: 0;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 0;
  transition: background 0.05s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bolder;
}
.login-form-container .inner-form-container #login:hover {
  background: rgba(255, 255, 255, 0.1);
}
.login-form-container .inner-form-container #login:active {
  background: rgba(255, 255, 255, 0.05);
}

.line-wobble {
  --uib-size: 80px;
  --uib-speed: 1.55s;
  --uib-color: rgb(255, 255, 255);
  --uib-line-weight: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-line-weight);
  width: var(--uib-size);
  border-radius: calc(var(--uib-line-weight) / 2);
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.line-wobble::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--uib-color);
  opacity: 0.1;
}

.line-wobble::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: calc(var(--uib-line-weight) / 2);
  animation: wobble var(--uib-speed) ease-in-out infinite;
  transform: translateX(-90%);
  background-color: var(--uib-color);
}

@keyframes wobble {
  0%, 100% {
    transform: translateX(-90%);
  }
  50% {
    transform: translateX(90%);
  }
}
.select-container {
  height: 80vh;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  padding: 1em;
  outline: 1px rgba(255, 255, 255, 0.37) solid;
  margin: 2em;
}
.select-container .select-container__search {
  height: 10%;
  margin-right: 2em;
  border: 1px solid white;
  border-radius: 0.5em;
  background: rgba(255, 255, 255, 0.554);
  color: black;
}
.select-container .select-container__items-list .item-title {
  margin: 0.5em;
  color: rgb(194, 194, 194);
}
.select-container .select-container__items-list .select-container__item-submit {
  margin: 0.5em;
}

#nav-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  margin-left: 5em;
}
#nav-buttons #builder-button {
  border-radius: 0;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 0;
  transition: background 0.05s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#nav-buttons #builder-button:hover {
  background: rgba(255, 255, 255, 0.1);
}
#nav-buttons #builder-button:active {
  background: rgba(255, 255, 255, 0.05);
}
#nav-buttons #builder-button #builder-button__text {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5em;
}
#nav-buttons #login-button {
  border-radius: 0;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 0;
  transition: background 0.05s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#nav-buttons #login-button:hover {
  background: rgba(255, 255, 255, 0.1);
}
#nav-buttons #login-button:active {
  background: rgba(255, 255, 255, 0.05);
}
#nav-buttons #login-button #login-button__text {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  white-space: nowrap;
  padding: 0.5em;
}

.title-container {
  padding: 1em 0 1em 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.bold-text {
  font-weight: bolder;
}

#insert-status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
}

#auth-user-text__container {
  grid-column: 4/5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  margin-right: 5em;
}
#auth-user-text__container #auth-user__text {
  border-radius: 0;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 0;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
}
#auth-user-text__container #auth-user__text #auth-user__icon {
  border-radius: 0;
  background: rgba(255, 255, 255, 0.155);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.15em rgba(255, 255, 255, 0.5) solid;
  height: 100%;
  width: 100%;
}
#auth-user-text__container #auth-user__text #auth-user__text__user {
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  padding: 0.5em;
}
#auth-user-text__container #auth-user__button {
  border-radius: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 0;
  transition: background 0.05s;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
}
#auth-user-text__container #auth-user__button:hover {
  background: rgba(255, 255, 255, 0.1);
}
#auth-user-text__container #auth-user__button:active {
  background: rgba(255, 255, 255, 0.05);
}
#auth-user-text__container #auth-user__button #auth-user__button__icon {
  border-radius: 0;
  background: rgba(255, 255, 255, 0.155);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.15em rgba(255, 255, 255, 0.5) solid;
  height: 100%;
  width: 100%;
}
#auth-user-text__container #auth-user__button #auth-user__button__text {
  white-space: nowrap;
  padding: 0.5em;
}

.admin-menu-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 2em;
}
.admin-menu-container .admin-menu {
  grid-area: 1/2/2/3;
}
.admin-menu-container .admin-menu #option-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 10em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  padding: 0.5em;
  outline: 1px rgba(255, 255, 255, 0.37) solid;
  gap: 0.5em;
}
.admin-menu-container .admin-menu #option-container .option-container__button button {
  border-radius: 0;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 0;
  transition: background 0.05s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bolder;
  width: 100%;
  height: 100%;
}
.admin-menu-container .admin-menu #option-container .option-container__button button:hover {
  background: rgba(255, 255, 255, 0.1);
}
.admin-menu-container .admin-menu #option-container .option-container__button button:active {
  background: rgba(255, 255, 255, 0.05);
}

.admin-menu__selection {
  grid-area: 2/2/-2;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  padding: 1em;
  display: grid;
  outline: 1px rgba(255, 255, 255, 0.37) solid;
}
.admin-menu__selection .admin-menu__selection__container .admin-menu__selection__msg {
  display: flex;
  width: 100%;
  padding-top: 2em;
  justify-content: center;
  align-items: center;
}
.admin-menu__selection .admin-menu__selection__container .admin-menu__selection__form {
  border-bottom: rgba(255, 255, 255, 0.5) 2px solid;
}
.admin-menu__selection .admin-menu__selection__container .admin-menu__selection__form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 1em;
}
.admin-menu__selection .admin-menu__selection__container .admin-menu__selection__form input {
  margin: 0.5em;
  width: 95%;
  padding: 1em;
}
.admin-menu__selection .admin-menu__selection__container .admin-menu__selection__form .input-area {
  border-radius: 0;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 0;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.admin-menu__selection .admin-menu__selection__container .admin-menu__selection__form .input-area::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.admin-menu__selection .admin-menu__selection__container .admin-menu__selection__form .input-area::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.admin-menu__selection .admin-menu__selection__container .admin-menu__selection__form .input-area__selection {
  margin: 0.5em;
  width: 95%;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 0;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  padding: 0.5em;
}
.admin-menu__selection .admin-menu__selection__container .admin-menu__selection__form .input-area__selection::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.admin-menu__selection .admin-menu__selection__container .admin-menu__selection__form .input-area__selection::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.admin-menu__selection .admin-menu__selection__container .admin-menu__selection__form .form-button {
  border-radius: 0;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 0;
  transition: background 0.05s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bolder;
}
.admin-menu__selection .admin-menu__selection__container .admin-menu__selection__form .form-button:hover {
  background: rgba(255, 255, 255, 0.1);
}
.admin-menu__selection .admin-menu__selection__container .admin-menu__selection__form .form-button:active {
  background: rgba(255, 255, 255, 0.05);
}

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  color-scheme: light;
}
@media (prefers-color-scheme: dark) {
  html,
  body {
    color-scheme: dark;
  }
}/*# sourceMappingURL=main.css.map */