.admin-menu-container {
  // MAIN GRID CONTAINER
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 2em;
  .admin-menu {
    grid-area: 1/2/2/3;
    #option-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      height: 10em;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(7.7px);
      -webkit-backdrop-filter: blur(7.7px);
      padding: 0.5em;
      outline: 1px rgba(255, 255, 255, 0.37) solid;
      gap: 0.5em;
      .option-container__button {
        button {
          border-radius: 0;
          background: rgba(255, 255, 255, 0.15);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(11px);
          -webkit-backdrop-filter: blur(11px);
          border: 0;
          transition: background 0.05s;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          font-weight: bolder;
          width: 100%;
          height: 100%;
          &:hover {
            background: rgba(255, 255, 255, 0.1);
          }
          &:active {
            background: rgba(255, 255, 255, 0.05);
          }
        }
      }
    }
  }
}

.admin-menu__selection {
  grid-area: 2/2/-2;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  padding: 1em;
  display: grid;
  outline: 1px rgba(255, 255, 255, 0.37) solid;
  .admin-menu__selection__container {
    .admin-menu__selection__msg {
      display: flex;
      width: 100%;
      padding-top: 2em;
      justify-content: center;
      align-items: center;
    }
    .admin-menu__selection__form {
      border-bottom: rgba(255, 255, 255, 0.5) 2px solid;
      form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin-top: 1em;
      }
      input {
        margin: 0.5em;
        width: 95%;
        padding: 1em;
        // grid-area: 1/2;
      }
      .input-area {
        border-radius: 0;
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(11px);
        -webkit-backdrop-filter: blur(11px);
        border: 0;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        &::placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
      }
      .input-area__selection {
        margin: 0.5em;
        width: 95%;
        border-radius: 0;
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(11px);
        -webkit-backdrop-filter: blur(11px);
        border: 0;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        padding: 0.5em;
        &::placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
      }
      .form-button {
        border-radius: 0;
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(11px);
        -webkit-backdrop-filter: blur(11px);
        border: 0;
        transition: background 0.05s;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: bolder;
        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
        &:active {
          background: rgba(255, 255, 255, 0.05);
        }
      }
    }
  }
}
