#auth-user-text__container {
  grid-column: 4 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  margin-right: 5em;
  #auth-user__text {
    border-radius: 0;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border: 0;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    #auth-user__icon {
      border-radius: 0;
      background: rgba(255, 255, 255, 0.155);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(11px);
      -webkit-backdrop-filter: blur(11px);
      border: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 0.15em rgb(255, 255, 255, 0.5) solid;
      height: 100%;
      width: 100%;
    }
    #auth-user__text__user {
      display: flex;
      justify-content: center;
      align-items: center;
      text-overflow: ellipsis;
      padding: 0.5em;
    }
  }
  #auth-user__button {
    border-radius: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border: 0;
    transition: background 0.05s;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
    &:active {
      background: rgba(255, 255, 255, 0.05);
    }
    #auth-user__button__icon {
      border-radius: 0;
      background: rgba(255, 255, 255, 0.155);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(11px);
      -webkit-backdrop-filter: blur(11px);
      border: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 0.15em rgb(255, 255, 255, 0.5) solid;
      height: 100%;
      width: 100%;
    }
    #auth-user__button__text {
      white-space: nowrap;
      padding: 0.5em;
    }
  }
}
