#nav-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  margin-left: 5em;
  #builder-button {
    border-radius: 0;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border: 0;
    transition: background 0.05s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
    &:active {
      background: rgba(255, 255, 255, 0.05);
    }
    #builder-button__text {
      text-decoration: none;
      color: #ffffff;
      font-weight: bold;
      font-size: 1rem;
      padding: 0.5em;
    }
  }
  #login-button {
    border-radius: 0;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border: 0;
    transition: background 0.05s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
    &:active {
      background: rgba(255, 255, 255, 0.05);
    }
    #login-button__text {
      text-decoration: none;
      color: #ffffff;
      font-weight: bold;
      font-size: 1rem;
      white-space: nowrap;
      padding: 0.5em;
    }
  }
}
